<h1>Uploaded Designs </h1>
<%= button_to "Add Image", new_design_path, method: "get" %>
<table class = "table table-bordered table-striped">
   <tbody>
      <% @designs.each do |design| %>
         
         <tr>
         <td><%= link_to(image_tag("#{design.image_url}", size: "100x100"), home_path({design_id: design}))%></td>
         <td><%= link_to "Delete image", designs_del_design_path({design_id: design}), method: "delete" %></td>
            <td><%= design.description %></td>
         </tr>
         
      <% end %>
   </tbody>
</table>