
    <div id="tab-2" class="tab-pane">
       <div class="panel-body">
         <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>All Category </h5>
          </div>

          <div class="ibox-content" id="base_div">
            <% @cat.each do |cat| %>
                <div class="btn btn-primary" id="btn<%= cat.id %>"> 
                  <%= link_to cat.cat_name , delete_cat_path({id: cat.id}) , remote: true %>
                     <a class="close-link">
                       <i class="fa fa-times"></i>
                     </a>
                </div>
            <% end %> 
          </div>
         </div>
       </div>