<div class="ibox-title">
  <h5>All Category </h5>
</div>

  <div>
  <%= render partial: 'admins/manage/flashmsg'%>
 </div>

<div class="ibox-content" id="base_div">
  <div class="category_scroll">
    <% @cat.each do |cat| %>
      <div class="btn btn-primary democ" id="btn<%= cat.id %>"> 
        <%= link_to cat.cat_name , delete_cat_path({id: cat.id}) , remote: true %>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
      </div>
    <% end %> 
  </div>
</div>