<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
<style>
	.category_scroll{ max-height: 250px; overflow-y: auto; text-align: justify;}
</style>

<div class="tabs-container" id="refresh">
	<div class="tab-content">
		<div class="panel-body">
			<div class="ibox float-e-margins">
				<%= render partial: 'category/category_form' %>
				<br>
				<%= render partial: 'category/category' %>
			</div>
		</div>
	</div>
</div>
