<div class="top form-basic">
<div class="col-sm-6" border="1">
		<%= form_for (:category)   do |f| %>

		  <%= f.text_field :cat_name ,class: 'form-basic' %><br><br>
  			<%= f.submit 'create category' ,class: 'btn btn-primary'  %>
	<% end %>
</div>
</div>

<div class="col-sm-6">
	

</div>