<table class = "table table-bordered table-striped">
   <tbody>
      <% @designs.each do |design| %>
         
         <tr>
         <td><%= link_to "show image", design.image_url %></td>
            <td><%= design.description %></td>
         </tr>
         
      <% end %>
   </tbody>
</table>