<%= button_to "Back", home_dashboard_path, method: "get" %>
	<% if designs.count != 0 %>
		<h2>Search Result:</h2><br>
		<%= render partial: 'home/displaydesigns' ,locals: { images: @designs } %>
	<% else %>
	<h2>Search Result:</h2><br>
	<% end %>
