<div>
	<h2 class="font-bold">Filter by Categories: </h2>
	<div >
		<%= form_tag home_search_path, remote: true do %>	
			<div>
           		<% @cat.each do |cat| %>
                <div>
                <%= check_box_tag "categories[]",  cat.id %>
                <%= cat.cat_name %>
                </div>
                <% end %>
            </div>
			<%= button_to('Search',home_search_path,class: "btn btn-default",id:"button") %>
	<% end %>	
	</div>
	<br>	
</div>
