<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
<style>
	.design-categories{width:100%!important}
</style>
<div>
	<h2 class="font-bold">Filter by Categories: </h2>
	<div >
		
			<div>
           		<select  multiple="multiple" data-placeholder="Select Option" class="select2 design-categories" width="100%">
           		<% @cat.each do |cat| %>	
              		<option><%= cat.cat_name %></option>
               <% end %>
               </select>
            </div>
			<%= link_to('Search',nil,class: "btn btn-default",id:"btn_search_designs") %>
	
	</div>
	<br>	
</div>
<script>
$('#btn_search_designs').click(function(){
	alert("");
	$.ajax({
      type: 'GET',
      url: 'search',
      dataType: 'script',
      data: { categories : $('.design-categories').select2('val')},
      success:function (msg) {
      }
    }); 
 });
</script>