<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   -->

<div class = "container">
	<div class = "col-md-2 left">
		<%= render partial: 'home/search' %>
	</div>
	<div class = "col-md-9">
		<div id="search" >
		  		<div id= "design_select">
				<%= render partial: 'home/des', locals: { designs: @designs } %>
			</div>
		</div>
	</div>
	
</div>
