<div class="container" >
<h2 class="font-bold">Followers</h2> 
<% if @follower.count != 0 %>
	<% @follower.each do |follower|%>
		<div class="ibox float-e-margins"> 
			<div class="ibox-content">
				<%= link_to user_profile_path(id: follower.id) do %>
					<%= follower.name %><br />
				<% end %>
				</div>
		</div>
	<% end %>
<% else %>
	<div class="ibox float-e-margins"> 
		<div class="ibox-content">
			<h3>NO Followers</h3>
			</div></div>
<% end %>
<%= will_paginate @follower%>
</div>
