	<div class="row">
		<div class="wrapper wrapper-content animated fadeIn">
			<h2>Followers Users</h2>
			<% if @users.present? %>
			<% @users.each do |user| %>
			<div id="card<%=user.id%>" class="col-lg-3">
				<div class="contact-box">
					<h3><%=link_to user.name, user_profile_path(id: user.id)%></h3>
					<p><i class="fa fa-map-marker"></i>  <%=user.city.city_name%></p>
					<div class="contact-box-footer">
						<%= link_to '#',class: "btn btn-xs btn-danger", id: "btn#{user.id}" do%>
							<i class="fa fa-times"> button</i>
						<% end %>
					</div>
				</div>
			</div>
			<% end %>
			<% end %>
		</div>
	</div>
