<div class="container">

	<div id="searchusers">
	<%= render partial: 'follows/searchusers', locals: { allusers: @all_users } %>
	</div>

	<div id="requestedusers" class="row">
		<% if @requested.present? %>
		<%= render partial: 'follows/requestedusers', locals: { requestedusers: @requested } %>
		<% end %>
	</div>		

	<div id="allusers" class="row">
		<%= render partial: 'follows/allusers', locals: { allusers: @all_users } %>
	</div>

</div>

