<h2>Explore Users</h2>
<div>
  <%= render partial: 'follows/search', locals: { allusers: @users } %>
</div>
<div id = "userlist">
  <%= render partial: 'follows/userlist', locals: { users: @users } %>
</div>
