<div class="container page-wrapper">
<h2>Explore Users</h2>
<div>
	<%= render partial: 'follows/search', locals: { allusers: @searchuser } %>
</div>
<div id = "userlist">
	<%= render partial: 'follows/userlist', locals: { users: @users } %>
</div>
</div>
