<div class="container">
	<div><h2>Explore Users</h2></div>
	<div>
		<%= render partial: "follows/search", locals: { alluser: @allusers } %>
	</div>
	<div id= "userrequest">
		<%= render partial: "follows/requests", locals: { requests: @requested }%>
	</div>

	<div id = "userlist">
		<%= render partial: "follows/userlist", locals: { users: @users } %>
	</div>
</div>