.p{
	font-size: 60px;
}
.tr_radius{
	border-radius:20px !important;
}
.fontsize{
	font-size: 20px !important;
	color: red !important;
	}
.top-margin{
	margin-top: 40px;
}
.btn-space{
	margin-top: 10px;
}
.img-space
{
	margin-top: 5px;
}