<h2>Followers</h2> 
<div class="ibox float-e-margins"> 
	<div class="ibox-content">
		<% if @totalfollower != nil %>
	 	 <% @follower.each do |f|%>
	    	<%= link_to user_profile_path(id: f.id) do %>
	    		<%= f.name %>
	   		<% end %>
	     <% end %>
		<% else %>
	        <h3>NO Followers</h3>
	    <% end %>
	</div>
</div>