<h2>Followings</h2>
<div class="ibox float-e-margins">
		<div class="ibox-content">
			<% if @totalfollowing != nil %>
				<% @following.each do |f|%>
	  				<%= link_to user_profile_path(id: f.id) do %>
						<%= f.name %>
					<% end %>
	 			<% end %>
			<% else %>
				<h3>NO Followings</h3>
			<% end %>
		</div>
</div>
