<h2>Followers</h2> 
<div class="ibox float-e-margins"> 
	<div class="ibox-content">
		<% if @follower.count != 0 %>

	 	 <% @follower.each do |f|%>
	    	<%= link_to user_profile_path(id: f.id) do %>
	    		<%= f.name %><br />
	   		<% end %>
	     <% end %>
		<% else %>
	        <h3>NO Followers</h3>
	    <% end %>
	</div>
</div>