<h2>Explore Users</h2>
<div>
	<%= render partial: 'follow/search', locals: { allusers: @users } %>
</div>
<div id = "userlist">
	<%= render partial: 'follow/userlist', locals: { users: @users } %>
</div>