<div class="col-md-12">
  <div class="ibox float-e-margins">
    <div class="ibox-content">
      <% if current_user.follow_accepted?(@user)%>

      <%= link_to toggle_follows_path(id: @user.id), method: "post",remote: true,class: "btn btn-danger", id: "btnu#{@user.id}" do%>
      <i class="fa fa-times"> Unfollow</i>
      <% end %>
      
      <% elsif current_user.follow_requested?(@user) %>
      
      <%= link_to toggle_follows_path(id: @user.id), method: "post",remote: true,class: "btn btn-warning", id: "btn#{@user.id}" do%>
      <i class="fa fa-undo"> Revert Request</i>
      <% end %>
      
      <% else %>
      
      <%= link_to toggle_follows_path(id: @user.id), method: "post",remote: true,class: "btn btn-success", id: "btn#{@user.id}" do%>
      <i class="fa fa-user-plus"> Follow</i>
      <% end %>
      
      <% end %>

      <%= link_to block_follows_path(id: @user.id), method: "post",remote: true,class: "btn btn-danger", id: "btnb#{@user.id}" do%>
      <i class="fa fa-times"> Block</i>
      <% end %>

    </div>
  </div>
</div>