   <h1 class="p">
        <%= @user.name %>
    </h1>
    <div class="col-md-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3>followings</h3>
                </div>
                <div class="ibox-content">
                    <h4 class="no-margins">
                        <%= @user_following_count %></h4>
                </div>
            </div>
    </div>
    <div class="col-md-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3>followers</h3>
                </div>
                <div class="ibox-content">
                    <h4 class="no-margins">
                    <%= @user_follower_count %></h4>
                </div>
            </div>
    </div>

    <div class="row ">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title ">
                    <h5>Designs</h5>
                </div>
                <% if @designs.count != 0 %>
                    <div class="ibox-content">
                        <div class="carousel-inner">
                            <div class="item gallery active">
                                <%= render partial: 'profile/userdesigns' %>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>