<div class="row border-bottom">
    <nav class="navbar navbar-fixed-top purple-bg" role="navigation" style="margin-bottom: 0">
    
        <div class="nav navbar-top-links navbar-left">
            <li>
               <%= link_to 'Designer\'s Wallet' , manage_path %>
            </li>
        </div>
        
        <div class="navbar-header">
            <form role="search" class="navbar-form-custom" method="post" action="/">
                <div class="form-group">
                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search" />
                </div>
            </form>
        </div>

        <ul class="nav navbar-top-links navbar-right">
            <li>
                <%= link_to destroy_admin_session_path do %>
                <i class="fa fa-sign-out"></i><span>Log out</span>
                <% end %> 
            </li>
        </ul>
       
      
        <ul class="nav navbar-top-links navbar-right">
            <li>
            <%= link_to 'Home' , manage_path %>
            
            </li>
        </ul>
</nav>
</div>




