%footer.navbar-fixed-bottom.navbar-inverse{:role => "navigation"}
  %ul.nav.nav-pills.pull-right
    %li
      %a{:href => void_link} Home
    %li
      %a{:href => void_link} Profile
    %li
      %a{:href => void_link} Messages
  