<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="nav navbar-top-links navbar-left">
            <li>
                <a href="#">
                    Designer's Wallet
                </a>
            </li>
        </div>
        <% if user_signed_in? %>
        <div class="navbar-header">
            <form role="search" class="navbar-form-custom" method="post" action="/">
                <div class="form-group">
                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search" />
                </div>
            </form>
        </div>

        <ul class="nav navbar-top-links navbar-right">
            <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i><span>Log out</span>
            <% end %> 
            </li>
        </ul>
        <ul class="nav navbar-top-links navbar-right">
            
            <li>
                <a href="follow">
                    <i class="fa fa-child"></i>
                </a>
            </li>
        </ul>       
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <a href="#">
                    <i class='fa fa-bars'></i>
                </a>
            </li>
        </ul>
        <ul class="nav navbar-top-links navbar-right">
            <li>
            <a class="count-info" href="#">
                    <i class="fa fa-envelope"></i>  <span class="label label-warning">16</span>
                </a>
            </li>
        </ul>
        <ul class="nav navbar-top-links navbar-right">
            <li>
            <a class="count-info" href="responds">
                    <i class='fa fa-user'></i>
                    <span class = 'label label-primary'>8</span>
                </a>
            </li>
        </ul>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <a href="show">
                    <i class='fa fa-user-circle'></i>Profile
                </a>
            </li>
        </ul>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <a href="#">
                    <i></i>Home
                </a>
            </li>
        </ul>
        <% end %>
    </nav>
</div>




